{% extends 'appOne/base.html' %}
{% load static %}
{%block content%}
{% for post in content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 text-center my-3">
      <img src="{{ post.image.url }}"  class="img-thumbnail"   style="height:500px;" alt="">
    </div>
    <div class="col-lg-6 text-light  pt-5">
      <h1><strong>{{post.title}}</strong></h1>
      <p class="h4"><strong>{{post.content}}</strong></p>
      <div class="my-3">
      <a href="{{post.website}}" class="btn btn-secondary"><i class="fas fa-window-maximize"></i> Website</a>
      <a href="{{post.github}}" class="btn btn-secondary"><i class="fas fa-code"></i> Code</a>
    </div>

    </div>
    <hr>
  </div>
</div>

{% endfor %} 
{% endblock %}  