{% extends 'appOne/base.html' %}
{% load static %}
{%block content%}
<style>
    img {
        width:100%;
        max-height:fit-content;
        background-size: cover;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }
</style>
<div class='container'>
<h2 class="mt-5">Portfolio</h2>
<div class="row">
{%for x in content%}
<div class="col-lg-3 col-md-6">
<img src="{{ x.photo.url }}" class="img-fluid mb-2">
<h2>{{ x.subject}}</h2>
<p>{{ x.content}}</p>
<h5>{{ x.github}}</h5>

</div>

{% endfor %}
</div>
</div>

{% endblock %}
