{% extends 'appOne/base.html' %}
{% load static %}
{%block content%}
<style>
    img {
        width:100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .image-resize{
        height: 250px;
        object-fit: cover;
    }
    h2{
        padding-top: 10%;
    }
    p {
        padding-top: 3%;
    }
</style>
<div class='container mb-5'>
<h1 class="mt-5">Portfolio</h1>
<div class="row">
{%for x in content%}
<div class="col-lg-3 col-md-6">
<img src="{{ x.photo.url }}" class="image-resize">
<h2>{{ x.subject}}</h2>
<p>{{ x.content}}</p>
<h5>{{ x.github}}</h5>

</div>

{% endfor %}
</div>
</div>

{% endblock %}
