body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


.header-info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .6)), url("images/background.JPG") no-repeat center center /cover;
    height: 48vh;
}

.banner {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  .name-info:first-letter {
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    margin-right: 4px;
}

.project-info {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .6)), no-repeat center center /cover;
}

.project-img {
    float: center;
    width:  300px;
    height: 300px;
    object-fit: cover;
}
  